h1 {

    background-color: gray;
    color: white;

}

 

.centrer {

    text-align: center;

}



.gras {

    font-weight: bold;

}



.menu {



}



body{

    background-color:#fff;

}

.main-section{

    background-color: #f1f1f1;

    padding: 20px;

    margin-top:25px;

}

.product{

    margin-bottom:5px;

}

.product-part{

    margin:0px;

    border:1px solid #DDDDDD;

    background-color: #fff;

    padding-bottom: 20px;

}

.img-section{

    padding: 0px;

}

.img-section img{

    width: 100%;

}

.product-title h1{

    margin:0px;

    font-size:23px;

    padding: 10px 0px;

    text-align: center;

}

.product-description{

    padding: 3px 15px;

}

.product-description p{

    color:#848484;

}

.product-cart p{

    font-size:20px;

    color:#4C4C4C;

}

.product-add-cart a{

    border-radius:0px;

    font-size: 11px;

}

#jeswappe {
    font-size: 20px;
}

#swappez {

    margin-top: 40px;
    font-size: x-large;

}



#slogan {

    border-color: deeppink;

}

body {
    background-color: #white;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}

.tag-header {
    color: #f8f8f8;
    font-size: 6em;
    font-weight: 700;
}

.product-box {
    cursor: pointer;
}

.product-box, .product, .product-img {
    position: relative;
    z-index: 2;
}

.product-img {
    width:  100%;
    height: 100%;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.product, .product-box {
    background-color: #fff;
    max-width: 350px;
    max-height: 300px;
    width: 350px;
    height: 300px;
    margin: 25px 0px 0px 0px;
}

.product {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    /* FF4+ */
    -o-transition: all 0.4s ease-out;
    /* Opera 10.5+ */
    -ms-transition: all 0.4s ease-out;
    /* IE10? */
    transition: all 0.4s ease-out;
}

.product:hover {
    opacity: 0.6;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    /* FF4+ */
    -o-transition: all 0.4s ease-out;
    /* Opera 10.5+ */
    -ms-transition: all 0.4s ease-out;
    /* IE10? */
    transition: all 0.4s ease-out;
}

.product-price {
    position: absolute;
    z-index: 3;
    color: #fff;
    font-size: 1.8em;
    right: 0px;
    top: 0px;
    padding: 5px 20px 5px 20px;
    background-color: #00A185;
}





